.player-image{
    width: 90px;
}

.player-record:hover{
    cursor: pointer;
}

.player-card{
    margin-top: 1em;
    width: 30rem;
}

.player-card-content{
    padding: 2em;
}

.search-bar, .player-details-container{
    margin-top: 1em;
}