@model FantasyLeague.Models.TeamViewModel
    ViewData["Title"] = "TeamIndex";
}

<h2>Teams</h2>

<ul>
    @foreach (var team in Model.Teams)
    {
        <li>
            @team.Name
        </li>
    }
</ul>